<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.data.title %></title>
	<meta name="description" content="<%= htmlWebpackPlugin.options.data.description %>">
	<meta name="author" content="<%= htmlWebpackPlugin.options.data.author %>">
	<meta property="og:title" content="<%= htmlWebpackPlugin.options.data.title %>" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="" />
	<meta property="og:image" content="assets/icons/icon-512x512.png" />
	<meta property="og:site_name" content="<%= htmlWebpackPlugin.options.data.title %>" />
	<meta property="fb:admins" content="<%= htmlWebpackPlugin.options.data.facebookid %>" />
	<meta property="fb:app_id" content="" />
	<meta property="og:description" content="<%= htmlWebpackPlugin.options.data.description %>" />
	
	
	<!-- Google Plus Metadata -->
	<meta itemprop="name" content="<%= htmlWebpackPlugin.options.data.title %>">
	<meta itemprop="description" content="<%= htmlWebpackPlugin.options.data.description %>">
	<meta itemprop="image" content="assets/icons/icon-512x512.png">
	
	<!-- Twitter Summary Card -->
	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@<%= htmlWebpackPlugin.options.data.twittername %>">
	<meta name="twitter:title" content="<%= htmlWebpackPlugin.options.data.title %>">
	<meta name="twitter:description" content="<%= htmlWebpackPlugin.options.data.description %>">
	<meta name="twitter:creator" content="@<%= htmlWebpackPlugin.options.data.twittername %>">
	<meta name="twitter:image:src" content="assets/icons/icon-512x512.png">
	<meta name="twitter:domain" content="<%= htmlWebpackPlugin.options.data.domain %>">
	
	
    <!-- Optimized mobile viewport -->
	<meta name="viewport" content="width=device-width">
  	<meta name="apple-mobile-web-app-capable" content="yes" />

	<meta name="theme-color" content="<%= htmlWebpackPlugin.options.data.themecolor %>">

	<!-- Add to home screen -->
	<meta name="mobile-web-app-capable" content="yes">
  
	<link rel="apple-touch-icon" href="assets/icons/icon-512x512.png">
	<link rel="apple-touch-icon" sizes="72x72" href="assets/icons/icon-72x72.png">
	<link rel="apple-touch-icon" sizes="144x144" href="assets/icons/icon-144x144.png">
	<link rel="apple-touch-icon" sizes="512x512" href="assets/icons/icon-512x512.png">

	<!-- PWA Manifest -->
	<link rel="manifest" href="manifest.json">

</head>
<body>
    <div class="container">
		<img id="logo" src="assets/images/logo.svg"/>
		<br/>
		<h1><%= htmlWebpackPlugin.options.data.title %></h1>
	</div>
	
</body>
</html>